<div>
    <h2>
        <span>Basic Informations</span>
        <button class="btn btn-primary float-right jh-create-entity create-basic-information" [routerLink]="['/', { outlets: { popup: ['basic-information-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Basic Information
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="basicInformations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Last Name</span></th>
            <th><span>First Name</span></th>
            <th><span>Nationality</span></th>
            <th><span>Gender</span></th>
            <th><span>Dateof Brith</span></th>
            <th><span>Education Level</span></th>
            <th><span>Email</span></th>
            <th><span>Skype</span></th>
            <th><span>Phone</span></th>
            <th><span>Wechat</span></th>
            <th><span>Photo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let basicInformation of basicInformations ;trackBy: trackId">
                <td><a [routerLink]="['../basic-information', basicInformation.id ]">{{basicInformation.id}}</a></td>
                <td>{{basicInformation.lastName}}</td>
                <td>{{basicInformation.firstName}}</td>
                <td>{{basicInformation.nationality}}</td>
                <td>{{basicInformation.gender}}</td>
                <td>{{basicInformation.dateofBrith | date:'mediumDate'}}</td>
                <td>{{basicInformation.educationLevel}}</td>
                <td>{{basicInformation.email}}</td>
                <td>{{basicInformation.skype}}</td>
                <td>{{basicInformation.phone}}</td>
                <td>{{basicInformation.wechat}}</td>
                <td>
                    <a *ngIf="basicInformation.photo" (click)="openFile(basicInformation.photoContentType, basicInformation.photo)">
                        <img [src]="'data:' + basicInformation.photoContentType + ';base64,' + basicInformation.photo" style="max-height: 30px;" alt="basicInformation image"/>
                    </a>
                    <span *ngIf="basicInformation.photo">{{basicInformation.photoContentType}}, {{byteSize(basicInformation.photo)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../basic-information', basicInformation.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'basic-information/'+ basicInformation.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'basic-information/'+ basicInformation.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
