<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBasicInformationLabel">Create or edit a Basic Information</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!basicInformation.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="basicInformation.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="basicInformation.lastName" required maxlength="255" />
            <div [hidden]="!(editForm.controls.lastName?.dirty && editForm.controls.lastName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastName?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastName?.errors?.maxlength">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                [(ngModel)]="basicInformation.firstName" required maxlength="255" />
            <div [hidden]="!(editForm.controls.firstName?.dirty && editForm.controls.firstName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.firstName?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.firstName?.errors?.maxlength">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nationality">Nationality</label>
            <input type="text" class="form-control" name="nationality" id="field_nationality"
                [(ngModel)]="basicInformation.nationality" required maxlength="255" />
            <div [hidden]="!(editForm.controls.nationality?.dirty && editForm.controls.nationality?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nationality?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nationality?.errors?.maxlength">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_gender">Gender</label>
            <select class="form-control" name="gender" [(ngModel)]="basicInformation.gender" id="field_gender"  required>
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
            </select>
            <div [hidden]="!(editForm.controls.gender?.dirty && editForm.controls.gender?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.gender?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dateofBrith">Dateof Brith</label>
            <div class="input-group">
                <input id="field_dateofBrith" type="text" class="form-control" name="dateofBrith" ngbDatepicker  #dateofBrithDp="ngbDatepicker" [(ngModel)]="basicInformation.dateofBrith"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dateofBrithDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.dateofBrith?.dirty && editForm.controls.dateofBrith?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateofBrith?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_educationLevel">Education Level</label>
            <select class="form-control" name="educationLevel" [(ngModel)]="basicInformation.educationLevel" id="field_educationLevel"  required>
                <option value="ASSOCIATE">ASSOCIATE</option>
                <option value="BACHELOR">BACHELOR</option>
                <option value="MASTER">MASTER</option>
                <option value="DOCTORATE">DOCTORATE</option>
            </select>
            <div [hidden]="!(editForm.controls.educationLevel?.dirty && editForm.controls.educationLevel?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.educationLevel?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="basicInformation.email" required maxlength="255" />
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.maxlength">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_skype">Skype</label>
            <input type="text" class="form-control" name="skype" id="field_skype"
                [(ngModel)]="basicInformation.skype" maxlength="255" />
            <div [hidden]="!(editForm.controls.skype?.dirty && editForm.controls.skype?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.skype?.errors?.maxlength">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                [(ngModel)]="basicInformation.phone" maxlength="255" />
            <div [hidden]="!(editForm.controls.phone?.dirty && editForm.controls.phone?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.phone?.errors?.maxlength">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_wechat">Wechat</label>
            <input type="text" class="form-control" name="wechat" id="field_wechat"
                [(ngModel)]="basicInformation.wechat" maxlength="255" />
            <div [hidden]="!(editForm.controls.wechat?.dirty && editForm.controls.wechat?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.wechat?.errors?.maxlength">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_photo">Photo</label>
            <div>
                <img [src]="'data:' + basicInformation.photoContentType + ';base64,' + basicInformation.photo" style="max-height: 100px;" *ngIf="basicInformation.photo" alt="basicInformation image"/>
                <div *ngIf="basicInformation.photo" class="form-text text-danger clearfix">
                    <span class="pull-left">{{basicInformation.photoContentType}}, {{byteSize(basicInformation.photo)}}</span>
                    <button type="button" (click)="clearInputImage('photo', 'photoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_photo" (change)="setFileData($event, basicInformation, 'photo', true)" accept="image/*"/>
            </div>
            <input type="hidden" class="form-control" name="photo" id="field_photo"
                [(ngModel)]="basicInformation.photo" maxbytes="5000000" />
            <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                [(ngModel)]="basicInformation.photoContentType" />
            <div [hidden]="!(editForm.controls.photo?.dirty && editForm.controls.photo?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.photo?.errors?.maxbytes">
                    This field cannot be more than 5000000.
                </small>
            </div>
        </div>

        <div [hidden]="!(editForm.controls.resume?.dirty && editForm.controls.resume?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.resume?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
