<div>
    <h2>
        <span>Addresses</span>
        <button class="btn btn-primary float-right jh-create-entity create-address-mojobs" [routerLink]="['/', { outlets: { popup: ['address-mojobs-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Address
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="addresses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Mobile</span></th>
            <th><span>Email</span></th>
            <th><span>Phone</span></th>
            <th><span>Line</span></th>
            <th><span>Province</span></th>
            <th><span>City</span></th>
            <th><span>Town</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let address of addresses ;trackBy: trackId">
                <td><a [routerLink]="['../address-mojobs', address.id ]">{{address.id}}</a></td>
                <td>{{address.name}}</td>
                <td>{{address.mobile}}</td>
                <td>{{address.email}}</td>
                <td>{{address.phone}}</td>
                <td>{{address.line}}</td>
                <td>
                    <div *ngIf="address.provinceId">
                        <a [routerLink]="['../province-mojobs', address.provinceId  ]" >{{address.provinceName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="address.cityId">
                        <a [routerLink]="['../city-mojobs', address.cityId  ]" >{{address.cityName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="address.townId">
                        <a [routerLink]="['../town-mojobs', address.townId  ]" >{{address.townName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../address-mojobs', address.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'address-mojobs/'+ address.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'address-mojobs/'+ address.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
