<div>
    <h2>
        <span>Job Addresses</span>
        <button class="btn btn-primary float-right jh-create-entity create-job-address-mojobs" [routerLink]="['/', { outlets: { popup: ['job-address-mojobs-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Job Address
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="jobAddresses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Address</span></th>
            <th><span>Job</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jobAddress of jobAddresses ;trackBy: trackId">
                <td><a [routerLink]="['../job-address-mojobs', jobAddress.id ]">{{jobAddress.id}}</a></td>
                <td>
                    <div *ngIf="jobAddress.addressId">
                        <a [routerLink]="['../address-mojobs', jobAddress.addressId  ]" >{{jobAddress.addressName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jobAddress.jobId">
                        <a [routerLink]="['../mjob-mojobs', jobAddress.jobId  ]" >{{jobAddress.jobName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../job-address-mojobs', jobAddress.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'job-address-mojobs/'+ jobAddress.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'job-address-mojobs/'+ jobAddress.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
