<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myExperienceLabel">Create or edit a Experience</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!experience.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="experience.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="experience.title" required maxlength="255" />
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.maxlength">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_school">School</label>
            <input type="text" class="form-control" name="school" id="field_school"
                [(ngModel)]="experience.school" required maxlength="255" />
            <div [hidden]="!(editForm.controls.school?.dirty && editForm.controls.school?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.school?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.school?.errors?.maxlength">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_grade">Grade</label>
            <input type="text" class="form-control" name="grade" id="field_grade"
                [(ngModel)]="experience.grade" required maxlength="255" />
            <div [hidden]="!(editForm.controls.grade?.dirty && editForm.controls.grade?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.grade?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.grade?.errors?.maxlength">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                [(ngModel)]="experience.location" required maxlength="255" />
            <div [hidden]="!(editForm.controls.location?.dirty && editForm.controls.location?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.location?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.location?.errors?.maxlength">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fromDate">From Date</label>
            <div class="input-group">
                <input id="field_fromDate" type="text" class="form-control" name="fromDate" ngbDatepicker  #fromDateDp="ngbDatepicker" [(ngModel)]="experience.fromDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fromDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_toDate">To Date</label>
            <div class="input-group">
                <input id="field_toDate" type="text" class="form-control" name="toDate" ngbDatepicker  #toDateDp="ngbDatepicker" [(ngModel)]="experience.toDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="toDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_currentlyWorkHere">Currently Work Here</label>
            <input type="checkbox" class="form-control" name="currentlyWorkHere" id="field_currentlyWorkHere"
                [(ngModel)]="experience.currentlyWorkHere"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_responsibility">Responsibility</label>
            <input type="text" class="form-control" name="responsibility" id="field_responsibility"
                [(ngModel)]="experience.responsibility" required maxlength="2000" />
            <div [hidden]="!(editForm.controls.responsibility?.dirty && editForm.controls.responsibility?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.responsibility?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.responsibility?.errors?.maxlength">
                   This field cannot be longer than 2000 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_resume">Resume</label>
            <select class="form-control" id="field_resume" name="resume" [(ngModel)]="experience.resumeId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="resumeOption.id" *ngFor="let resumeOption of resumes; trackBy: trackResumeById">{{resumeOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
