<div>
    <h2>
        <span>Experiences</span>
        <button class="btn btn-primary float-right jh-create-entity create-experience" [routerLink]="['/', { outlets: { popup: ['experience-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Experience
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="experiences">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span>Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="school"><span>School</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="grade"><span>Grade</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="location"><span>Location</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fromDate"><span>From Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="toDate"><span>To Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="currentlyWorkHere"><span>Currently Work Here</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="responsibility"><span>Responsibility</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="resumeName"><span>Resume</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let experience of experiences ;trackBy: trackId">
                <td><a [routerLink]="['../experience', experience.id ]">{{experience.id}}</a></td>
                <td>{{experience.title}}</td>
                <td>{{experience.school}}</td>
                <td>{{experience.grade}}</td>
                <td>{{experience.location}}</td>
                <td>{{experience.fromDate | date:'mediumDate'}}</td>
                <td>{{experience.toDate | date:'mediumDate'}}</td>
                <td>{{experience.currentlyWorkHere}}</td>
                <td>{{experience.responsibility}}</td>
                <td>
                    <div *ngIf="experience.resumeId">
                        <a [routerLink]="['../resume', experience.resumeId  ]" >{{experience.resumeName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../experience', experience.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'experience/'+ experience.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'experience/'+ experience.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="experiences && experiences.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
