
<div *ngIf="jobSubType">
    <h2><span>Job Sub Type</span> {{jobSubType.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Parent</span></dt>
        <dd>
            <span>{{jobSubType.parent}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{jobSubType.name}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'job-sub-type-mojobs/'+ jobSubType.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
