
<div *ngIf="town">
    <h2><span>Town</span> {{town.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{town.name}}</span>
        </dd>
        <dt><span>Zip</span></dt>
        <dd>
            <span>{{town.zip}}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
            <div *ngIf="town.cityId">
                <a [routerLink]="['/city-mojobs', town.cityId]">{{town.cityName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'town-mojobs/'+ town.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
