<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <title>Login One</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/auth/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/auth/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/auth/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/auth/css/templatemo_style.css}"/>
</head>
<body class="templatemo-bg-gray">

<div class="container">

    <h1 class="margin-bottom-15">Create Account</h1>

    <div class="col-md-12">
        <!--<g:if test='${emailSent}'>-->
        <!--<br/>-->

        <!--<div class="alert alert-success" role="alert">-->
        <!--<g:message code='spring.security.ui.register.complete'/>-->
        <!--</div>-->
        <!--</g:if>-->
        <!--<g:else>-->
        <form class="form-horizontal templatemo-create-account templatemo-container" role="form"
              th:action="@{/common/register}" method="post">

            <!--<g:hasErrors bean="${this.registerCommand}">-->
            <!--<div class="alert alert-danger alert-dismissible">-->
            <!--<ul class="errors" role="alert">-->
            <!--<g:eachError bean="${this.registerCommand}" var="error">-->
            <!--<li-->
            <!--<g:if test="${error in org.springframework.validation.FieldError}">-->
            <!--data-field-id="${error.field}"-->
            <!--</g:if>-->
            <!--&gt;-->
            <!--<g:message-->
            <!--error="${error}"/>-->
            <!--</li>-->
            <!--</g:eachError>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</g:hasErrors>-->


            <div class="form-inner">
                <!--%{&#45;&#45;-->
                <!--<div class="form-group">&#45;&#45;}%-->
                <!--%{&#45;&#45;-->
                <!--<div class="col-md-6">&#45;&#45;}%-->
                <!--%{&#45;&#45;<label for="first_name" class="control-label">First Name</label>&#45;&#45;}%-->
                <!--%{&#45;&#45;<input type="text" class="form-control" id="first_name" placeholder="">&#45;&#45;}%-->
                <!--%{&#45;&#45;-->
                <!--</div>-->
                <!--&#45;&#45;}%-->
                <!--%{&#45;&#45;-->
                <!--<div class="col-md-6">&#45;&#45;}%-->
                <!--%{&#45;&#45;<label for="last_name" class="control-label">Last Name</label>&#45;&#45;}%-->
                <!--%{&#45;&#45;<input type="text" class="form-control" id="last_name" placeholder="">&#45;&#45;}%-->
                <!--%{&#45;&#45;-->
                <!--</div>-->
                <!--&#45;&#45;}%-->
                <!--%{&#45;&#45;-->
                <!--</div>-->
                <!--&#45;&#45;}%-->
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="email" class="control-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="" name="email"
                               value=""/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label for="username" class="control-label">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="" name="username"
                               value=""/>
                    </div>
                    <!--%{&#45;&#45;-->
                    <!--<div class="col-md-6 templatemo-radio-group">&#45;&#45;}%-->
                    <!--%{&#45;&#45;<label class="radio-inline">&#45;&#45;}%-->
                    <!--%{&#45;&#45;<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">-->
                    <!--Male&#45;&#45;}%-->
                    <!--%{&#45;&#45;</label>&#45;&#45;}%-->
                    <!--%{&#45;&#45;<label class="radio-inline">&#45;&#45;}%-->
                    <!--%{&#45;&#45;<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">-->
                    <!--Female&#45;&#45;}%-->
                    <!--%{&#45;&#45;</label>&#45;&#45;}%-->
                    <!--%{&#45;&#45;-->
                    <!--</div>-->
                    <!--&#45;&#45;}%-->
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <label for="password" class="control-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="" name="password"/>
                    </div>

                    <div class="col-md-6">
                        <label for="password" class="control-label">Confirm Password</label>
                        <input type="password" class="form-control" id="password_confirm" placeholder=""
                               name="password2"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Create account" class="btn btn-info pull-right"/>
                        <a th:href="@{/login}" class="">Login</a>
                    </div>
                </div>
            </div>
        </form>
        <!--</g:else>-->

    </div>
</div>

</body>
</html>
