<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <title>Login One</title>
    <link rel="stylesheet" href="css/auth/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/auth/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/auth/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/auth/css/templatemo_style.css"/>

</head>
<body class="templatemo-bg-gray">

<div class="container">

    <h1 class="margin-bottom-15">Create Account</h1>

    <div class="col-md-12">


    </div>
</div>
</body>
</html>
