<div>
    <h2>
        <span>Mojob Images</span>
        <button class="btn btn-primary float-right jh-create-entity create-mojob-image-mojobs" [routerLink]="['/', { outlets: { popup: ['mojob-image-mojobs-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Mojob Image
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="mojobImages">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Content</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mojobImage of mojobImages ;trackBy: trackId">
                <td><a [routerLink]="['../mojob-image-mojobs', mojobImage.id ]">{{mojobImage.id}}</a></td>
                <td>{{mojobImage.name}}</td>
                <td>
                    <a *ngIf="mojobImage.content" (click)="openFile(mojobImage.contentContentType, mojobImage.content)">
                        <img [src]="'data:' + mojobImage.contentContentType + ';base64,' + mojobImage.content" style="max-height: 30px;" alt="mojobImage image"/>
                    </a>
                    <span *ngIf="mojobImage.content">{{mojobImage.contentContentType}}, {{byteSize(mojobImage.content)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../mojob-image-mojobs', mojobImage.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'mojob-image-mojobs/'+ mojobImage.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'mojob-image-mojobs/'+ mojobImage.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
