<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySchoolLabel">Create or edit a School</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!school.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="school.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="school.name" required maxlength="100" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_logo">Logo</label>
            <div>
                <img [src]="'data:' + school.logoContentType + ';base64,' + school.logo" style="max-height: 100px;" *ngIf="school.logo" alt="school image"/>
                <div *ngIf="school.logo" class="form-text text-danger clearfix">
                    <span class="pull-left">{{school.logoContentType}}, {{byteSize(school.logo)}}</span>
                    <button type="button" (click)="clearInputImage('logo', 'logoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_logo" (change)="setFileData($event, school, 'logo', true)" accept="image/*"/>
            </div>
            <input type="hidden" class="form-control" name="logo" id="field_logo"
                [(ngModel)]="school.logo"  />
            <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType"
                [(ngModel)]="school.logoContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_level">Level</label>
            <select class="form-control" name="level" [(ngModel)]="school.level" id="field_level"  required>
                <option value="KINDERGARTEN">KINDERGARTEN</option>
                <option value="ELEMENTARY">ELEMENTARY</option>
                <option value="MIDDLE_SCHOOL">MIDDLE_SCHOOL</option>
                <option value="HIGH_SCHOOL">HIGH_SCHOOL</option>
                <option value="UNIVERSITY">UNIVERSITY</option>
            </select>
            <div [hidden]="!(editForm.controls.level?.dirty && editForm.controls.level?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.level?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_schoolType">School Type</label>
            <select class="form-control" name="schoolType" [(ngModel)]="school.schoolType" id="field_schoolType"  required>
                <option value="INTERNATIONAL_BILINGUAL_SCHOOL">INTERNATIONAL_BILINGUAL_SCHOOL</option>
                <option value="LANGUAGE_TRAINING">LANGUAGE_TRAINING</option>
            </select>
            <div [hidden]="!(editForm.controls.schoolType?.dirty && editForm.controls.schoolType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.schoolType?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_address">Address</label>
            <select class="form-control" id="field_address" name="address" [(ngModel)]="school.addressId">
                <option [ngValue]="null"></option>
                <option [ngValue]="addressOption.id" *ngFor="let addressOption of addresses; trackBy: trackAddressById">{{addressOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
