<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">IColor BackOffice</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>

    <link rel="stylesheet" href="http://www.bootcss.com/p/layoutit/css/bootstrap-combined.min.css"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css"/>
    <link th:href="@{/css/thymeleaf/header.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/thymeleaf/style.css}" type="text/css" rel="stylesheet"/>
    <script th:src='@{/css/bootstrap/js/jquery.min.js}'></script>
    <script th:src="@{/css/bootstrap/js/bootstrap.min.js}"></script>


</head>
<body>
<div th:fragment="header" class="mojob-header" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <a th:href="@{/}"><img th:src="@{/css/thymeleaf/Home_files/logo_u45.png}" alt="" class='logo'/></a>
    <ul class='navBar'>
        <li><a th:href="@{/}">Jobs</a></li>
        <li><a th:href="@{/school}">Schools</a></li>
        <li><a th:href="@{/application}">Applications</a></li>
        <li><a th:href="@{/message}">Messages</a></li>
        <li><a th:href="@{/resume}">Resume</a></li>
    </ul>
    <div class="logIn" sec:authorize="!isAuthenticated()">
        <form th:action="@{/login}" method="post">
            <img th:src="@{/css/thymeleaf/Home_files/u57.png}" alt="" class='user'/>
            <input type="text" class='userName' placeholder='User Name' name="username"/>
            <input type="password" class='password' placeholder='Password' name="password"/>
            <button>Log In</button>
            <a th:href="@{/common/register}" class='register'>register</a>
        </form>
    </div>

    <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>
</div>

<div layout:fragment="content"></div>

<footer>
    <p>Contact us</p>
    <p>Phone: 021- 12345678</p>
    <p>E-mail: info@mojobs.com.cn</p>
    <p>MoJobs copyright@2015-2017 All Right Reserved XXX</p>
    <img th:src="@{/images/timg.jpg}" class='ewmImg'/>
</footer>


</body>
</html>
