<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myChatMessageLabel">Create or edit a Chat Message</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!chatMessage.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="chatMessage.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_sendTime">Send Time</label>
            <div class="input-group">
                <input id="field_sendTime" type="text" class="form-control" name="sendTime" ngbDatepicker  #sendTimeDp="ngbDatepicker" [(ngModel)]="chatMessage.sendTime"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="sendTimeDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.sendTime?.dirty && editForm.controls.sendTime?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sendTime?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                [(ngModel)]="chatMessage.content" required maxlength="2000" />
            <div [hidden]="!(editForm.controls.content?.dirty && editForm.controls.content?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.content?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.content?.errors?.maxlength">
                   This field cannot be longer than 2000 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_fromUser">From User</label>
            <select class="form-control" id="field_fromUser" name="fromUser" [(ngModel)]="chatMessage.fromUserId"  required>
                <option *ngIf="!editForm.value.fromUser" [ngValue]="null" selected></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.fromUser?.dirty && editForm.controls.fromUser?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.fromUser?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_toUser">To User</label>
            <select class="form-control" id="field_toUser" name="toUser" [(ngModel)]="chatMessage.toUserId"  required>
                <option *ngIf="!editForm.value.toUser" [ngValue]="null" selected></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.toUser?.dirty && editForm.controls.toUser?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.toUser?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
