
<div *ngIf="chatMessage">
    <h2><span>Chat Message</span> {{chatMessage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Send Time</span></dt>
        <dd>
            <span>{{chatMessage.sendTime | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Content</span></dt>
        <dd>
            <span>{{chatMessage.content}}</span>
        </dd>
        <dt><span>From User</span></dt>
        <dd>
            {{chatMessage.fromUserLogin}}
        </dd>
        <dt><span>To User</span></dt>
        <dd>
            {{chatMessage.toUserLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'chat-message-mojobs/'+ chatMessage.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
